/* generic styles */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #766F68;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Styles of header in index.html */

header {
    width: 100%;

    display: flex;
    align-content: center;
    justify-content: space-between;
}

header div.Dev,
header div.side-header {
    margin: 10px 60px;
}

.hidden {
    display: none;
}

header div.Dev span {
    color: #D2872C;
    font-weight: bold;
    font-size: 2em;
}

header div.side-header span {
    font-size: 1.4em;
    line-height: 1.4em;
    color: black;

    margin: 5px;
}

/* Styles of div.principal */

div.principal {
    width: 93%;
    height: 80%;
    margin-top: 50px;
    float: right;

    background-image: url("../assets/team.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 60%;
    
}

div.principal div.text {
    width: 65%;
    height: 100%;
    
}

div.principal div.text h1{
    margin: 10px 20px 40px 0;
    font-size: 5em;
}

div.principal div.text p{
    width: 70%;
    font-size: 2em;
    margin: 40px 10px 40px 0;
}

div.principal div.text div.button{
    margin-top: 70px;
}

div.principal div.text a{
    padding: 20px 100px;
    background: #D2872C;
    font-size: 2em;
    color: white;
    
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

